body {
    font-size: 30px;
    color:black;
    background-color: azure;
}  

#page {
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#about-me {
    
}