html {
    font-size: 16px;
    ;
}

body {
    padding: 1rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

menu {
    display: flex;
}

li {
    font-size: 1.5rem;
}

a, a:link {
    color: #ff0000;
}

a:visited {
    color: hsl(0, 100%, 30%)
}

a:hover, a:focus {
    color: hsl(0, 100%, 40%);
}

a:active{
    color: hsl(0, 100%, 60%);
}

