html {
    font-size: 16px;
    ;
}

body {
    background-color: #ffffff;
    display: flex;
}

.container-generale {
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

.collage-container {
    position: relative;
    width: 80vw;
    height: 85dvh;
    background-color: #f26d5b;
    margin: 50px auto;
    font-family: 'Arial Black', sans-serif;
}

.img-occhio:hover {
    animation: trema-occhio 0.1s linear infinite;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -4%;
    z-index: 10;
    position: relative;
}

.header-text h1 {
    font-size: 60px;
    line-height: 0.9;
    transition: text-shadow 0.4s ease, transform 0.4s ease;
}

.header-text h1:hover {
    color: #ffffff;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 5px 5px 0px #000;
    transform: scale(1.05);
}

.img-cane {
    position: absolute;
    width: 90%;
    left: 50%;
    bottom: -8.7%;
    transform: translateX(-50%);
    transition: transform 0.6s ease-out;
}

.img-cane:hover {
    transform: translateX(-50%) translateY(-20px);
}

.img-occhio {
    position: absolute;
    bottom: 10%;
    z-index: 20;
    width: 80%;
    left: 17%;
}

.img-fulmini {
    position: absolute;
    width: 55%;
    bottom: -3%;
    right: 76%;
    transform: rotate(-45deg);
}

.img-fulmini:hover {
    animation: pulse 0.7s ease-in-out infinite;
    cursor: pointer;
}

@media (min-width: 992px) {


    .collage-container {
        position: relative;
        width: 80vw;
        height: 80dvh;
        background-color: #f26d5b;
        margin: 10dvh auto;
        font-family: 'Arial Black', sans-serif;
    }

    .header-text h1 {
        font-size: 80px;
        line-height: 0.9;
    }

    .img-cane {
        position: absolute;
        height: 60dvh;
        width: auto;
        left: 50%;
        bottom: -8%;
        transform: translateX(-50%);
    }

    .img-cane img {
        height: 100%;
    }

    .img-occhio {
        position: absolute;
        top: 40%;
        z-index: 20;
        width: 42%;
        left: 41%;
    }

    .img-occhio img {
        height: 82%;
    }


    .img-fulmini {
        position: absolute;
        width: 32%;
        bottom: 5%;
        right: 50%;
        transform: rotate(-45deg);
    }

    .img-fulmini img {
        width: 60%;
    }

    @keyframes pulse {
        0% {
            transform: rotate(-45deg) scale(1);
        }

        50% {
            transform: rotate(-45deg) scale(1.2);
        }

        100% {
            transform: rotate(-45deg) scale(1);
        }
    }

    @keyframes trema-occhio {
        0% {
            transform: translate(0, 0);
        }

        20% {
            transform: translate(-2px, 2px);
        }

        40% {
            transform: translate(-2px, -2px);
        }

        60% {
            transform: translate(2px, 2px);
        }

        80% {
            transform: translate(2px, -2px);
        }

        100% {
            transform: translate(0, 0);
        }
    }

}