html {
    font-size: 16px;
    ;
}

body {
    background-color: #ffffff;
    display: flex;
}
.container-generale {
    width: 100vw;
    height: 100dvh;
}

.collage-container {
    position: relative;
    width: 80vw;
    height: 85dvh;
    background-color: #f26d5b;
    margin: 50px auto;
    font-family: 'Arial Black', sans-serif;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -4%;
    z-index: 10;
    position: relative;
}

.header-text h1 {
    font-size: 60px;
    line-height: 0.9;
}

.img-cane {
    position: absolute;
    width:90%;
    left: 50%;
    bottom: -8.7%;
    transform: translateX(-50%);
}

.img-occhio {
    position: absolute;
    bottom: 10%;
    z-index: 20;
    width: 80%;
    left: 17%;
}

.img-fulmini {
    position:absolute;
    width: 55%;
    bottom: -3%;
    right: 76%;
    transform: rotate(-45deg);
}


@media (min-width: 992px) {


.collage-container {
    position: relative;
    width: 80vw;
    height: 80dvh;
    background-color: #f26d5b;
    top:5%;
    margin: 50px auto;
    font-family: 'Arial Black', sans-serif;
}    

.header-text h1 {
    font-size: 80px;
    line-height: 0.9;
}

    .img-cane {
    position: absolute;
    width:90%;
    left: 70%;
    bottom: -8.7%;
    transform: translateX(-50%);    
    }

    .img-occhio {
    position: absolute;
    top:20%;
    z-index: 20;
    width: 42%;
    left: 32%;
}

.img-fulmini {
    position:absolute;
    width: 32%;
    bottom: -3%;
    right: 64%;
    transform: rotate(-45deg);
}

}