body {
    font-size: 20px;
    color:darkmagenta;
    background-color:floralwhite;
}  

#page {
    width: 90%;
    margin-top: 20%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#about-me {
    background-color: antiquewhite;
}

#works {
    background-color: antiquewhite;
}

#contatti {
    background-color:antiquewhite;
}

.section {
    padding: 16px;
}

.gallery {
    display: flex;
    flex-direction: column; 
}

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    .gallery    {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .gallery figure {
        width: 30%;
    }

    .testo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }